<div id="artist-related-greetings" class="col-md-12">
<div class="section-title">
	<% unless @greeting.artists.empty? %>
		<h1><%= Spree.t(:more_greetings_by) %> <%= @greeting.artists.first.name %></h1>
	</div>
	<%= render :partial => 'spree/shared/greetings', :locals => { :greetings => @greeting.artists.first.greetings[0..3] } %>
	<% end %>
</div>
